:host.flipped {
    .grid-container {
        direction: rtl;
    }

    .col-3:not(.title) {
        color: #ff5a6a;
    }
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 0.25fr;
    text-align: right;
}

.title {
    text-decoration: underline;
    color: #b1b1b1;
}


.col-3:not(.title) {
    color: #29baa5;
}
